* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Nunito', 'sans-serif';
}

:root {
  --bg-color: #191f36;
  --snd-bg-color: #262B40;
  --text-color: #fff;
  --main-color: #59B2F4;
}

html {
  font-size: 62.5%;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden; /* Allow vertical scrolling */
}
.home {
    margin-top: 20px; /* Adjust this value as needed */
    margin-bottom: 20px; /* Adjust this value as needed */
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    box-shadow: rgba(70, 70, 188, 0.1) 0px 24px 24px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

i {
	margin-right: 10px;
}
/*----------bootstrap-navbar-css------------*/
.navbar-logo{
	padding: 15px;
	color: #fff;
}
.navbar-mainbg{
	background-color:#191f36;
	padding: 20px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}

#navbarSupportedContent ul li a{
	color: #59B2F4;
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #59B2F4;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;

	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}
.navbar-toggler{
  background-color: #fff;
}

@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
      background-color: #262B40;
	}
}


@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}
.foot{
  color: var(--main-color);
}
  
  /* Styling for the menu icon */
  #menu-icon {
      display: none;
  }
  
  @media screen and (max-width: 600px) {
      .navbar a:not(:first-child) {display: none;}
      .navbar a.icon {
          float: right;
          display: block;
      }
      .navbar.responsive {position: relative;}
      .navbar.responsive a.icon {
          position: absolute;
          right: 0;
          top: 0;
      }
      .navbar.responsive a {
          float: none;
          display: block;
          text-align: left;
      }
  }


.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}
span{
    color: var(--main-color);
}
.home-content h2{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-img img{
    width: 20vw;
    animation: floatImage 4sbease-in-out infinite
}

#blob {
    background-image: url(https://i.ibb.co/1GFxL0B/20231022-161301.jpg);
    width: 450px;
    height: 450px;
    background-size: cover;
    background-position: center center;
    margin: 50px; /* Adjust margin to move image to the left */
    border-radius: 50%; /* Make the image round */
    box-shadow: 0 5px 5px 5px rgb(38, 86, 191);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

.home-content p{
    font-size: 1.6rem;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}
.social-media a:hover {
    background:var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover{
    box-shadow: none;
}
.about {
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--bg-color);
}
.about-img img {
    width: 35vw;
}
.about-par{
  background-color: var(--snd-bg-color);
  box-shadow: rgb(23, 23, 219) 0px 2px 8px 0px;
}
.heading {
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2 {
    text-align: left;
    line-height: 1.2;
}
.about-content h3 {
    font-size: 2.6rem;
}
.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.education{margin-top:20px;}
.timeline-steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

.timeline-steps .timeline-step {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem;
  margin-top:20%;
}

@media (min-width:768px) {
  .timeline-steps .timeline-step:not(:last-child):after {
      content: "";
      display: block;
      border-top: .25rem dotted #3b82f6;
      width: 5.46rem;
      position: absolute;
      left: 7.5rem;
      top: .3125rem
  }
  .timeline-steps .timeline-step:not(:first-child):before {
      content: "";
      display: block;
      border-top: .25rem dotted #3b82f6;
      width: 3.8125rem;
      position: absolute;
      right: 7.5rem;
      top: .3125rem
  }
}

.timeline-steps .timeline-content {
  width: 20rem;
  text-align: center
}

.timeline-steps .timeline-content .inner-circle {
  border-radius: 1.5rem;
  height: 1rem;
  width: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #3b82f6
}

.timeline-steps .timeline-content .inner-circle:before {
  content: "";
  background-color: #3b82f6;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  border-radius: 6.25rem;
  opacity: .5
}







#img{
  box-shadow: rgba(169, 206, 231, 0.1) 0px 24px 24px;
}
.xp-sub-title{
  font-weight: 700;
  font-size: 3rem;
  cursor: default;
}
.col-md-3 {
  width: 100%; /* Adjust as needed */
}
.experience-details-container1 {
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.about-containers{
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.details-container{
  padding: 1.5rem;
  background: var(--bg-color);
  flex: 1;
  border-radius: 2rem;
   box-shadow: rgb(23, 23, 219) 0px 2px 8px 0px;
  text-align: center;
}
.article-container{
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}
@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
/* media q */
@media (max-width: 768px) {
  #blob {
      width: 300px; /* Adjust width for smaller screens */
      height: 300px; /* Adjust height for smaller screens */
  }
}

@media (max-width: 576px) {
  #blob {
      width: 200px; /* Adjust width for extra small screens */
  }
}
@media (max-width: 992px) {
  .home-content {
      text-align: center;
  }
 
}

@media (max-width: 768px) {
  .home-content {
      padding-right: 0;
  }
}

@keyframes floatImage {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-2.4rem);
  }
  100% {
      transform: translateY(0);
  }
}
.timeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust spacing between timeline items */
}

.timeline-content {
  width: 30%; /* Adjust width of timeline content */
  margin-bottom: 2rem; /* Adjust margin between timeline items */
}

.timeline-period {
  font-size: 1.5rem; /* Adjust font size of timeline period */
}

.timeline-title {
  font-size: 1.8rem; /* Adjust font size of timeline title */
  font-weight: bold;
}
.container-ed{
  margin-top: 2cm;
}
.row-cols-1{
  margin-top: 3cm;
}
.text {
  font-size: 1.6rem; /* Adjust font size of timeline text */
}
.card-img-top{
  align-self: center;
}
.card{
  background-color: var(--snd-bg-color);
  box-shadow: rgb(23, 23, 219) 0px 2px 8px 0px;
}
.card-body{
  background-color:var(--snd-bg-color);
  padding: 20px;
}
/* footer */
.footer-widget p {
    margin-bottom: 27px;
}
.card-text {
  margin: 0 10px;
}
.card-title {
  margin: 0 10px;
}
p {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 28px;
}


.card {
    flex: 0 0 calc(33.333% - 10px); /* Adjust for margins between cards */
    margin-bottom: 20px; /* Adjust as needed */
    margin-top: 30px;
}

.card figure {
    position: relative;
    overflow: hidden;
}

@media (max-width: 992px) {
  .card {
      flex-basis: calc(50% - 20px);
  }
}
@media (max-width: 768px) {
  .card {
      flex-basis: calc(50% - 20px);
  }
}
@media (max-width: 576px) {
  .card {
      flex-basis: calc(100% - 20px);
  }
}

@media (max-width: 768px) {
    .card {
        flex-basis: calc(50% - 10px);
    }
}

@media (max-width: 576px) {
    .card {
        flex-basis: 100%;
    }
}

   



/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .timeline-content {
      width: 40%; /* Adjust width for smaller screens */
  }
}

@media (max-width: 576px) {
  .timeline-content {
      width: 100%; /* Adjust width for extra small screens */
  }

  .timeline-period {
      font-size: 1.3rem; /* Adjust font size for extra small screens */
  }

  .timeline-title {
      font-size: 1.5rem; /* Adjust font size for extra small screens */
  }

  .text {
      font-size: 1.4rem; /* Adjust font size for extra small screens */
  }
}

/* Media Queries */
@media (max-width: 767.98px) {
  .skills .row .col-md {
      flex: 0 0 50%; /* Make each column occupy 50% of the row */
      max-width: 50%; /* Maximum width of each column */
  }
}
@media only screen and (min-width: 768px) {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: left;
    align-items: start;
  }
}
@media only screen and (max-width: 767px) {
  article {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
  }
}
@media only screen and (max-width:768px) {
  .card-img-top {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .text-sm {
    font-size: 16px; /* Adjust font size for smaller screens */
    line-height: 1.4; /* Adjust line height for better readability */
  }
}
.h6{
  font-size: 18px;
}
.container-about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Adjust the height as needed */
}
@media (max-width: 576px) {
  .h6 {
      font-size: 16px; /* Adjust font size for smaller screens */
  }
}
#testimonial-text {
  font-size: 18px; /* Default font size */
  line-height: 1.5; /* Default line height */
}
@media (max-width: 576px) {
  #testimonial-text {
      font-size: 16px; /* Adjust font size for smaller screens */
  }
}
#title-Tag-Line {
  font-size: 20px;
}
.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}